html {
  background: black;
}

#board {
  margin: 0 auto;
  display: block;
  box-shadow: 2px black;
  border-bottom: 7px solid black;
  background-color: black;
}

#lines {
  display: block;
  width: 240px;
  margin: 0 auto;
  margin-top: 2em;
  color: #666;
  font-size: 1.5em;
}

#button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: black;
  color: white;
}
